################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Stackyy/bin/Debug/net6.0
/Stackyy/obj
